.board-Container{
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}

.loading-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-top: 2px solid lightgrey;
    margin: 0 auto;
  }

.loading-text {
    color: grey;
}  
  
.loading {
    width: 50px;
    margin-left: 8px;
}
